<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../stylesheets/main.css">
    <title>Frontpage</title>
</head>
<body>
    <h1 class="jumbotron text-center jumbo">Front Page</h1>
    <h4>This is the size of the board: <%= sizek %></h4>

    
</body>
</html>